html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

.container{
	position:relative;
}
#timeline{
	height:100px;
}
.plot{
	min-height:300px;
}
#plot3{
	height:500px;
}
/*#mapid*/
#mapid{
	height:500px;
	margin: 20px;
}

path .leaflet-inter
{
	stroke-opacity: 0.5;
	stroke-width: 0.5
}

/*#plot-2*/
.time-series .line{
	stroke:rgb(242, 130, 130);
	fill:none;
	stroke-width:2px;
}
.time-series .area{
	fill-opacity:.05;
}
#plot1 .axis-y .tick line{
	stroke:white;
	stroke-width:.5px;
}
#plot1 .axis-y .domain{
	display:none;
}
#plot2 .axis-y .tick line{
	stroke:white;
	stroke-width:.5px;
}
/*tooltip*/
.custom-tooltip{
	position:absolute;
	width:200px;
	padding:10px 10px;
	color:rgb(80,80,80);
	font-size:.8em;
	left:0;
	box-shadow:0 5px 10px rgba(0,0,0,.1);
	opacity:0;
	background:white;
}
	.custom-tooltip .heading{ font-weight:bold; }
	.custom-tooltip .value{ font-size:1.5em; }
