.canvas{
    width:100%;
    min-height:600px;
}

/* tooltip */
.container{
    position:relative;
}
.node .outer{
    opacity:.3;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  background-color: #ede7e6;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.navbar-toggler{
  align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  float: right;
  position: relative;
  top: 10px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none
}
.navbar-inverse .navbar-toggler {
    color: #fff;
    border-color: rgba(255, 255, 255, .1)
}

.navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}
section .jumbotron .text-center{
  background: url("img/rosewood.jpg") no-repeat center center;
  width:100%;
  height: 100%;
  background-size: 100% 100%;
  }

#whitep{
  font-size: 13px;
  color: white;
  text-align: left;
  padding-left: 100px;
  }

h5, h2.jumbotron-heading{
    color: white;
  }

.jumbotron .container
  {
    max-width: 60rem;
  }
#donate{
  background: #333;
  color:white;
}
#research{
  color: white;
}
.water {
  fill: #ede7e6;
  stroke:#632e34;
}

.land {
  fill: #9b4b55;
  stroke: #632e34;
  stroke-width: 0.7px;
}

.land:hover {
  fill:rgb(255, 101, 80);
  stroke-width: 1px;
}

.focused {
  fill: rgb(255, 101, 80);
}

#plot1{
  min-height: 600px;
}
.intro p{
  padding-top: 30%;
	padding-bottom:20%;
	opacity:0;
  font-weight: 300;
  color: #632e34;
}
.affix{
  top:20px;
}
.highlightText{
  background-color: rgb(255, 101, 80);
  color: white;
}
.highlightNum{
  font-size: 20px;
}
.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  max-width: 100px;
  opacity: .6;
}
img.trend{
  width: 100%;
}
a.navbar-brand{
  color: rgb(255, 101, 80);
}
#startP{
  color:#632e34;
  font-size: 16px;
  padding: 50px;
}
