#mapid { width: 720; height: 480px; }
#map{position: relative; z-index: 0;}
body {
   padding: 0;
   margin: 0;
}
html, body, #map {
   height: 100vh;
   width: 100vw;
}

div.info.leaflet-control{
  color:white;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width:30vw;
  padding:20px;
  margin: 0;
}
#dropdown{
  float: right;
  position:fixed;
  top: 100px;
  left:72vw;
  margin-right:155px;
  z-index: 1000;
}

#infoBoston{
  top: 130px;
  left: 72vw;
  color: white;
}

#helpbutton{
  position: fixed;
  top: 150px;
  margin-left: 20px;
  font-size: 8px;
  color:white;
  background-color: rgba(0,0,0,.3);
}
#infoOutside{
  top: 195px;
  left: 72vw;
  color: white;
}
#buttonExpl{
position: fixed;
top: 215px;
margin-left: 20px;
font-size: 8px;
color: white;
background-color: rgba(0, 0, 0, .3);
}

#crimeOne #crimeTwo #crimeThree #crimeFour{
  float: left;
  position: fixed;
  top: 90px;
  margin-left: 20px;
  font-size: 8px;
}

.legend {
    line-height: 18px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
.menu{
  height: 20vh;
  width:30vw;
  float: left;
  position:fixed;
  top: 70px;
  margin-left: 20px;
}
.leaflet-bottom .leaflet-right{

}
div.info.leaflet-control.legend{
  top: 270px;
  left:12px;
  background-color: rgba(0,0,0,0);
}
#note{
  width: 30vw;
  padding: 40px;
  color: white;
  font-size: 12px;
  margin-top: 380px;
}
#bostonData{
  color:white;
}
a.white-link{
  color:orange
}