.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line{
    stroke-width:.5px;
}

.node{
    fill:rgb(200,200,200);
    stroke:white;
}

.country{
  fill:rgb(200,200,200)
}
h1{
  font-family: 'Publico', serif;
}
.col-md-9{
  margin:0;
}
.col-md-3{
  float:left;
  margin-top: 250px;
  position: absolute;
}
.btn-group{
  margin-left: 10px;
}

.dropDown{
  margin-bottom: 10px;
  display: block;
}
.medalImg{
  background-color: white;
  width: 50px;
}
.toggle{
  float:right;
  position:absolute;
  margin-top: 680px;
  margin-left: 820px;
}
