
h1 {
	position: relative;
	left: 50px;
	color: rgb(136, 125, 79);
	margin-bottom: 20px;
}

body {
    background-color: #000000;
}

.sub {
	position: relative;
	left: 50px;
	color: rgb(136, 125, 79);
	font-weight: 100;
	padding-left: 10px;

}

.container {
    width:100%;
    min-height:600px;
}

.canvas-main{
	position: absolute;
	top:127px;
    left: 31px;
}

.canvasMouse{
	position: absolute;
	top:127px;
	left: 31px;
}


.button {
	position: relative;
	float: left;
	left: 50px;
	height: 30px;
	color: rgb(136, 125, 79);
	font-weight: 400;
	font-size: 18px;
	width: 150px;
	text-align: center;
}

.button:hover{
	cursor: pointer;
}

.incideButton {
	position: relative;
	float: left;
	left: 10px;
	height: 20px;
	color: rgb(136, 125, 79);
	font-size: 15px;
	width: 50px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: 1px solid;
	text-align: center;
}
.incideButton:hover{
	cursor: pointer;
}
.clickedBtn {
	color:rgb(136, 125, 79);
	border-bottom: 0.5px solid rgb(136, 125, 79);
}
.clickedCtr{
	background-color: rgb(136, 125, 79);
	color: black;
}

.mapData {
	opacity: 0;
}

.yearAxis path {
	opacity: 0;
	stroke-width:0px;
}

.yearAxis {
	opacity: 0;
	font-size: 14px;
}
.yearBAxis{
	opacity: 0;
	font-size: 14px;
}
.ageAxis{
	opacity: 0;
	font-size: 14px;
}
.ageAxis path{
	stroke: rgb(136, 125, 79);
}
.yearBAxis path{
	stroke: rgb(136, 125, 79);
}
.tick line{
	stroke: rgb(136, 125, 79);
	opacity: 0.5;

}

.tick text{
	fill:rgb(136, 125, 79);
}

.categoryAxis path {
	opacity: 0;
	stroke-width:0px;
}
.categoryAxis{
	opacity: 0;
	font-size: 12px;
}
.categoryAxis line {
	stroke: rgb(136, 125, 79);
}

.custom-tooltip{
    position:absolute;
    width:600px;
    min-height:45px;
    top:30px;
    right: 50px;
    margin-right:50;
    opacity:0;
    padding-left:10px;
    padding-top: 7px;
    border: 0.5px solid rgb(136, 125, 79);
}
.colorDirector{
	position: absolute;

	bottom: 150px;
	left: 65px;
	visibility: hidden;
	color: rgb(136, 125, 79);
	font-weight: 400;
	border-left: 2px solid rgb(136, 125, 79);
	width: 200px;
	min-height: 100px;
	z-index: 1;
}
.custom-tooltip .title{
    font-size:1em;
    font-weight:bold;
    color: rgb(136, 125, 79);
}

.custom-tooltip .nationality{
	color: rgb(136, 125, 79);
	font-weight: 100;
}
.custom-tooltip .prize{
	color: rgb(136, 125, 79);
	font-weight: 100;
}
.custom-tooltip .des{
	color: rgb(136, 125, 79);
	font-weight: 100;
}

.orgs{
	position:absolute;
    width:450px;
    min-height:50px;
    bottom:45px;
    left: 50px;
    margin-right:50;
    opacity:0;
}

.orgsDes {
	color: rgb(136, 125, 79);
	font-weight: 100;
	border-left: 2px solid;
	padding-left: 10px;
}

div.sc_menu {
	position: absolute;
	overflow: auto;
	max-width: 1200px;
	min-width:400px;
	bottom: 15px;
	height: 50px;
	left:50px;
	vertical-align: middle;
	opacity: 0;
	visibility: hidden;
	z-index: 1;

}

ul.sc_menu {
	display: inline-block;
	width: 2200px;
	padding: 0 0 0 10px;
    margin:0;
    list-style: none;
}

ul.sc_menu li {
    display: inline-block;
    float: left;
    padding: 10px;
		color: rgb(136, 125, 79);
    border-bottom: 0.5px solid rgb(136, 125, 79);
    margin-right: 5px;
    margin-left: 5px;
}

ul.sc_menu li:hover, .sc_menu .active li{
    border-bottom: 2px solid rgb(136, 125, 79);
}

.about {
	display: none;
	position: fixed;
	z-index: 999999;
	left: 325px;
	top: 150px;
	width:50%;
	height: 60%;
    overflow: auto;
    background-color: white;
    opacity: 0.9;

}

.aboutContent {
	position: fixed;
    background-color: #fefefe;
    width: 50%;
    padding: 20px 40px;
    color:#666666;

}

.close{
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.hint {
	position: absolute;
	top: 130px;
	left: 65px;
	visibility: hidden;
	color: rgb(136, 125, 79);
	font-weight: 100;
	border-left: 2px solid rgb(136, 125, 79);
	padding-left: 10px;
}
